@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#first-section-aboutus{
    background-image: url(../img/bkg-aboutus.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#middle-section-aboutus-cellphone{
    display: none;
}

#middle-section-aboutus{
    background-color: black;
    color: white;
    padding: 8% 3%;
}

#middle-section-aboutus div{
    display: inline-block;
    width: 49%;
    vertical-align: middle;
}

#paragraph-middle-section-aboutus p{
    width: 85%;
    text-align: justify;
    font-weight: 200;
    opacity: 0.9;
}

#image-middle-section-aboutus{
    text-align: center;
}

#image-middle-section-aboutus img{
    width: 100%;
}

#last-section-aboutus{
    padding: 8% 8%;
}

#background-black-item-section-aboutus-cellphone{
    display: none;
}

.background-itens-last-section-aboutus{
    display: inline-block;
    width: 28%;
    min-height: 26vw;
    max-height: fit-content;
    vertical-align: top;
    border-radius: 10%;
    margin: 0 2%;
}

.itens-last-section-aboutus{
    padding: 6% 10%;
    vertical-align: middle;
    font-size: 0.9rem;
}

.imgs-last-section-aboutus{
    text-align: center;
    margin: 15% 0;
}

.itens-last-section-aboutus p{
    text-align: justify;
}

@media only screen and (max-width: 600px) {
    #first-section-aboutus{
        background-image: url(../img/bkg-aboutus-cellphone.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 60vh;
    }

    #middle-section-aboutus{
        display: none;
    }

    #middle-section-aboutus-cellphone{
        display: block;
        background-color: #F7F7EF;
        color: black;
        padding: 10% 5% 0 5%;
        text-align: center;
    }
    
    #middle-section-aboutus-cellphone div{
        display: block;
        width: 100%;
    }

    #paragraph-middle-section-aboutus-cellphone p{
        text-align: justify;
        font-weight: 200;
        opacity: 0.9;
        padding: 4vh 0;
    }

    #paragraph-middle-section-aboutus-cellphone img{
        width: 30%;
    }

    
    #image-middle-section-aboutus-cellphone img{
        width: 100%;
        height: 50vh;
    }

    #background-black-item-section-aboutus{
        display: none;
    }

    #background-black-item-section-aboutus-cellphone{
        display: block;
        border-radius: 10%;
    }

    #background-black-item-section-aboutus-cellphone p{
        padding: 30% 12%;
        text-align: center;
    }

    .background-itens-last-section-aboutus{
        display: block;
        width: 100%;
        min-height: 26vw;
        max-height: fit-content;
        border-radius: 10%;
        margin: 0 0 3% 0;
    }

    .itens-last-section-aboutus{
        padding: 6% 0;
        font-size: 0.9rem;
    }
}