@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --black: #000000;
    --gray: #1A1A1A;
    --gray-light: #494949;
    --white: #ffffff;
    --cream-dark: #CACAB9;
    --cream-medium: #E7E7D9;
    --cream-light: #F7F7EF;
}

#first-section-manifest{
    background-image: url(../img/Screenshot_20.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#second-section-manifest{
    padding: 5% 23%;
    text-align: center;
    font-weight: 400;
}

#third-section-manifest{
    background-color: var(--black);
    color: white;
    min-height: 125vh;
    max-height: fit-content;
}

#third-section-manifest div{
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

#image-third-section-manifest{
    background-image: url(../img/george-orwell-i-tried-to-warn-you-shirt.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 125vh;
}

#third-section-manifest p{
    margin: auto;
    margin-top: 50%;
    width: 65%;
    text-align: justify;
    opacity: 0.85;
}

#fourth-section-manifest{
    height: fit-content;
    outline: 1px rgba(0, 0, 0, 0.822) solid;
}

#fourth-section-manifest img{
    width: 100%;
}

#last-section-manifest{
    padding: 8% 8%;
}

.background-itens-last-section-manifest{
    display: inline-block;
    width: 28%;
    min-height: 26vw;
    max-height: fit-content;
    vertical-align: top;
    border-radius: 10%;
    margin: 0 2%;
}

.itens-last-section-manifest{
    padding: 6% 10%;
    vertical-align: middle;
    font-size: 0.9rem;
}

.imgs-last-section-manifest{
    text-align: center;
    margin: 15% 0;
}

.imgs-last-section-manifest img{
    width: 40%;
}

#monitorimg-last-section-manifest{
    margin-top: -17vh;
    width: 90%;
}

.itens-last-section-manifest p{
    text-align: justify;
}